@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.post-area {
    display: flex;
    align-items: center;
    padding: 10px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-textarea {
    flex: 1;
    height: 60px;
    resize: none;
    padding: 8px;
}

.post-btn img {
    width: 50px;
    height: 50px;
}

.post-btn {
    background: none;
    border: none;
    margin-left: 10px;
}
